body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background: url(bghome.png) no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #4b0082;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input[type="file"] {
    padding: 5px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.form-group button {
    background: linear-gradient(to right, #4f1871, #7c30ab, #ae54e6);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #3a006b;
}
.message {
    margin-bottom: 15px;
    color: green;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
}

.image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.edit-container {
    display: flex;
    justify-content: center;
}

.editBtn{
    width: 90px;
    height: 37px;
    background: linear-gradient(to right, #4f1871, #7c30ab, #ae54e6);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn {
    background: linear-gradient(to right, #4f1871, #7c30ab, #ae54e6);
    border: none;
    color: white;
    padding: 11px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}
