body {
    background: linear-gradient(to bottom, #a489c9, #d7bee7);
    padding: 20px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header {
    padding: 10px 0;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    color: white;
    text-align: left;
}

.hero-content {
    width: 50%;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.2;
}

.hero p {
    font-size: 24px;
    margin: 20px 0;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-button {
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.cta-button.secondary {
    background-color: white;
    color: #8e44ad;
}

.cta-button:hover {
    background-color: #ecf0f1;
    color: #8e44ad;
}

.hero-image {
    width: 50%;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image {
        width: 100%;
    }

    .hero-content {
        padding: 20px 0;
    }
}
